<div class="container-fluid users-component">

  <div class="row">
    <div class="col-12">
      <app-text-filter (valueDidChange)="textSearchValueDidChange($event)"></app-text-filter>
    </div>
  </div>

  <div class="row" *ngIf="showData">
    <div class="col-12 col-sm-6 user" *ngFor="let user of dataSource; trackBy: trackByUser">
      <app-user [user]="user"></app-user>
    </div>
    <div class="col-12">
      <div class="full-width-message">{{ "USERS.LOAD_COMPLETED" | translate }}</div>
    </div>
  </div>

  <div class="full-width-message" [hidden]="!isLoadingData">{{ "USERS.LOADING" | translate }}</div>
  <div class="full-width-message" [hidden]="!hasNoData">{{ "USERS.NO_RESULT" | translate }}</div>
  <div class="full-width-message" [hidden]="!shouldRetry" (click)="retryLoadingDataSource()">{{ "USERS.RETRY" | translate }}</div>
  <div class="go-up" appScrollToTop></div>
</div>
