<div class="container-fluid users-component">

  <div class="row">
    <div class="col-12">
      <form [formGroup]="searchForm">
        <div class="input-group">
          <input class="form-control" formControlName="textFilter" placeholder="{{ 'USERS.INPUT_TEXT_PLACEHOLDER' | translate }}">
          <span class="input-group-addon addon" (click)="resetTextFilter()">
            <span class="fa fa-search" [hidden]="isTextFilterNotEmpty"></span>
            <span class="fa fa-remove" [hidden]="!isTextFilterNotEmpty"></span>
        </span>
        </div>
      </form>
    </div>
  </div>

  <div class="row" [hidden]="!showData">
    <div class="col-12 col-sm-6 user" *ngFor="let user of dataSource; trackBy: trackByUser">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ user.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ user.username }}</h6>
          <p class="card-text">{{ user.website }} <app-users-posts [date]="date"></app-users-posts></p>
          <a href="#" class="card-link">{{ user.address.street }}</a>
          <a href="#" class="card-link">{{ user.company.name }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="full-width-message" [hidden]="!isLoadingData">{{ "USERS.LOADING" | translate }}</div>
  <div class="full-width-message" [hidden]="!hasNoData">{{ "USERS.NO_RESULT" | translate }}</div>
  <div class="full-width-message" [hidden]="!shouldRetry" (click)="loadDataSource()">{{ "USERS.RETRY" | translate }}</div>
</div>
