<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top navigation-bar-component">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{ "APP.NAME" | translate }}</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="goToUsers()">{{ "NAVIGATION_BAR.USERS" | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goToCharts()">{{ "NAVIGATION_BAR.CHARTS" | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="languagedropdown" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{ selectedLanguageId }}</a>
        <div class="dropdown-menu" aria-labelledby="languagedropdown">
          <a class="dropdown-item" *ngFor="let language of languages" (click)="selectLanguage(language)">{{ language }}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
