<div class="container-fluid albums-component" infiniteScroll (scrolled)="onScroll()">

  <div class="row">
    <div class="col-12">
      <app-text-filter (valueDidChange)="textSearchValueDidChange($event)"></app-text-filter>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 album" *ngFor="let album of dataSource; trackBy: trackByAlbum">
      <app-album [album]="album"></app-album>
    </div>
  </div>

  <div class="full-width-message" [hidden]="!isLoadingData">{{ "ALBUMS.LOADING" | translate }}</div>
  <div class="full-width-message" [hidden]="!hasNoData">{{ "ALBUMS.NO_RESULT" | translate }}</div>
  <div class="full-width-message" [hidden]="!isLoadCompleted">{{ "ALBUMS.LOAD_COMPLETED" | translate }}</div>
  <div class="full-width-message" [hidden]="!shouldRetry" (click)="retryLoadingDataSource()">{{ "ALBUMS.RETRY" | translate }}</div>
  <div class="go-up" appScrollToTop></div>
</div>
